body{
    background: linear-gradient(to bottom, rgb(204, 229, 255), rgba(204, 229, 255, 0.4));

    font-size: 1.15rem;
    text-align: justify;
    font-family: "lato", sans-serif;
}

#title {
    color: rgb(186, 133, 9);
    font-family: "Sarabun", sans-serif;
}

#service-image{
    height: 400px;
    width: 70vw;
    background: radial-gradient(circle , red 20%, blue 40%, green 55%);
    border: 10px solid rgb(28, 28, 79);
}
td, th{
    text-align: center;
    border: 2px solid red;
}

table{
    background-color: aqua;
}



#main div{
    font-size: 32px;
}

#div1{
    font-size: 2em;
}

#div2{
    font-size: 2rem;
}

#div3{

}